<%= simple_form_for(@cliente) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :nome %>
    <%= f.input :cpf %>
    <%= f.input :telefone %>
    <%= f.input :endereco %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
